.image-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.image-input-container img {
    max-width: 100%;
}

.The-head h1,
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: blue;
    margin-bottom: 100px;
}

.The-head img {
    width: 30%;
    height: 300px;
    margin-left: 500px;
    margin-bottom: 20px;
}